@page "/"
@using ZXing.Net.Maui

<div class="text-center">
  <button class="btn btn-warning" @onclick="OpenWindow">Scan barcodes</button>
</div>

<div class="mt-3">Value of first barcode: @BarcodeResults?.FirstOrDefault().Value</div>

@code {

  [CascadingParameter]
  public List<BarcodeResult> BarcodeResults { get; set; } = new();

  private void OpenWindow() =>
    App.Current.MainPage.Navigation.PushModalAsync(new NewPage1());

}